<div class="app-wrapper">

  <app-sidebar></app-sidebar>

  <div class="main-content">
    <header class="top-bar">
      <div class="search-container">
        <i class="pi pi-search"></i>
        <input type="text" [placeholder]="'layout.search' | translate" class="search-input">
      </div>

      <div class="top-actions">
        <app-language-switcher></app-language-switcher>
        <i class="pi pi-bell notification-icon"></i>
        <div class="avatar-circle">
          <i class="pi pi-user"></i>
        </div>
      </div>
    </header>

    <main class="page-container">
      <router-outlet></router-outlet>
    </main>
  </div>

</div>
